<p>cp1 works!</p>
<h1>mon premiere sans bootstrap</h1>
<button class="mon button">enoyer</button>
<style>
  .mon.button {
    background-color: green;
    color: white;
    padding: 10px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  </style>
  <!--Exemple of bootstrap-->
    <h1>mon premiere avec bootstrap</h1>
    <button class="btn btn-success">envoyer</button>

   <h1>Tooltip Example</h1>
    <button type="button" class="btn btn-outline-secondary mi-2" ngbTooltip="Tooltip on top" placement="top">
        Tooltip on top
    </button>
    <button type="button" class="btn btn-outline-secondary mr-2" ngbTooltip="Tooltip on right" placement="right">
        Tooltip on right
    </button>
    <button type="button" class="btn btn-outline-secondary mi-2" ngbTooltip="Tooltip on bottom" placement="bottom">
        Tooltip on bottom
    </button>
<button type="button" class="btn btn-outline-secondary mr-2" ngbTooltip="Tooltip on left" placement="left">
        Tooltip on left
    </button>